<?xml version="1.0"?>

<model>
  <name>obstacle_ball</name>
  <version>1.0</version>

  <sdf version="1.10">
    model.sdf
  </sdf>

  <author>
    <name>Team</name>
  </author>

  <description>
    Simple ball-shaped obstacle for the robotic sorting environment.
  </description>
</model>